/* Color Palette */
:root {
    --sage: #C9CBA3;
    --light-yellow: #FFE1A8;
    --coral: #E26D5C;
    --dark-brown: #723D46;
    --deep-brown: #472D30;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--sage); /* Sage */
    color: var(--deep-brown); /* Deep Brown */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--light-yellow); /* Light Yellow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--deep-brown); /* Deep Brown */
    border-radius: 15px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: var(--deep-brown); /* Deep Brown */
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
    color: var(--dark-brown); /* Dark Brown */
}

section {
    margin-bottom: 20px;
    background-color: var(--coral); /* Coral */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--light-yellow); /* Light Yellow */
}

section h2 {
    border-bottom: 2px solid var(--dark-brown); /* Dark Brown */
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: var(--light-yellow); /* Light Yellow */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    color: var(--light-yellow); /* Light Yellow */
}

a {
    color: var(--deep-brown); /* Deep Brown */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
